@media (prefers-color-scheme: light) {
    :root {
        --text: hsl(0, 0%, 8%);
        --accent: hsl(346.8 77.2% 49.8%);
        --bg: hsl(0 0% 100%);
        --bg-repo: hsl(240 10% 3.9%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: hsl(0, 0%, 90%);
        --accent: hsl(346.8 77.2% 49.8%);
        --bg: hsl(20 14.3% 4.1%);
        --bg-repo: hsl(24 9.8% 10%);
    }
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg);
    color: var(--text);
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
}

.hide {
    display: none !important;
}

h1 {
    color: var(--accent);
    margin-bottom: 4px;
}

small {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

h2 {
    width: 100%;
    text-align: center;
    color: var(--text);
    margin: 0;
}

img {
    border: 2px solid var(--accent);
    box-shadow:
        0 0px 6px var(--accent),
        0 0px 6px var(--accent);
    max-width: 100%;
    height: auto;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    color: var(--text);
}

.github-img {
    width: 45px;
    margin-right: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg);
    color: var(--text);
    font-size: 18px;
    padding: 2em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.user-info figure {
    width: 90%;
    max-width: 200px;
}

.user-info img {
    border-radius: 100%;
}

.user-info div {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-left: 5%;
}

.user-info div p {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--text);
    padding-bottom: 18px;
}

.filter-repos,
input {
    background: var(--bg);
    width: 50%;
    border-radius: 20px;
    min-width: 300px;
    margin-top: 1em;
    padding: 1em;
    margin-bottom: 1em;
    border: 2px solid var(--accent);
    color: var(--text);
    text-align: center;
}

.repos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg);
    margin-top: 0;
    padding: 2em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 20px;
}

.repo-list {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
    width: 100%; 
    display: grid;
    /* Define Auto Row size */
    grid-auto-rows: 200px; 
    /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-gap: 1rem;
}

.repo-list .card {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    min-height: 200px;
    min-width: 300px;
    border-radius: 10px;
    gap: 1rem;
    border: 1px solid var(--accent);
    padding: 1rem;
    text-align: center;
    background-color: var(--bg-repo);
}

.repo-list .card:hover {
    background-color: var(--bg-repo);
    box-shadow:
        0 3px 6px var(--accent),
        0 3px 6px var(--accent);
}

.repo-list .card .cardTitle {
    font-size: 1.5rem;
    margin: 4px 0;
    width: 100%;
    text-align: center;
    color: var(--accent);
}
.repo-list .card .cardDescription{
    font-size: 1.3rem;
}

.repo-list .card .cardGroup{
    display: flex;
    justify-content: space-around;
}

.repo-list .card .cardBtns{
    display: flex;
    justify-content: space-around;
}

.link-btn {
    padding: 10px 30px;
    background: var(--bg);
    border-radius: 30px;
    border: 2px solid var(--accent);
    color: var(--text);
}

.link-btn:hover {
    background: var(--accent);
    border: 2px solid var(--text);
    transform: scale(1.05);
}

@media (min-width: 700px) {
    .user-info div {
        width: 45%;
        text-align: left;
    }

    /* .repo-list {
        justify-content: space-between;
    }

    .repo-list .card {
        width: 48%;
    } */
}

@media (max-width: 700px) {
    .user-info div p {
        margin: 10px;
    }
}

/* @media (min-width: 1200px) {
    .repo-list .card {
        width: 30%;
    }
} */